table {
    border-collapse: collapse;
    width: 50%;
}

th,td {
    text-align: center;
}

th,td {
  border-bottom:  groove;
}

td {
    padding: 1em 1em;
    vertical-align: top;
}

body {
    background-color: antiquewhite;
  font-family: 'Rancho', cursive, serif;
        font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

h1 {
  font-family: 'Shrikhand', cursive, serif;;
  
    text-shadow: 2px 2px red;
    text-align: left;
}

h2 {
  font-family: 'Expletus Sans', cursive, serif;;
    color: green;
    text-align: left;
}

p {
     font-family: 'Rancho', cursive, serif;
    font-size: 1em;
    text-align: left;
    color: darkblue;
    margin:0 5em 0 1em;
}
nav {
  background-color: rgb(97, 125, 209);
}
